body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  position: relative;
  min-height: 100vh;
}

/* make the customizations */
$theme-colors: (
  "info": white,
  "danger": teal,
  "lightOrange": #EA7F28,
);

/* import bootstrap to set changes */
@import "bootstrap/scss/bootstrap";
@import "variables";

.header {
  text-align: center;
}

.custom-btn-toolbar {
  display: inline !important;
}

.custom-btn-toolbar > .btn {
  margin-right: 1rem;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #EA7F28; 
}

.dropdown-toggle.btn {
  border: 1px solid lightgray;
}

.btn-link {
  color: #D37324; 
}

.btn-link:hover, 
.btn-link:active {
  color: #D37324; 
}

.page-item .page-link {
  color: #EA7F28;
}

.page-item.active .page-link {
  background-color: #EA7F28;
  border-color: #EA7F28 ;
}

.hide {
  display: none;
}

.footer {
  position: absolute;  
  bottom: 0;
}

.NotFound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pb-100 {
  padding-bottom: 100px !important;
}